<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="tests/TestBootstrap.php"
         cacheResult="false"
>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory>./src/Migration</directory>
            <file>./src/CustomTestBootstrapper.php</file>
        </exclude>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="KERNEL_CLASS" value="Shopware\Production\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="APP_SECRET" value="s$cretf0rt3st"/>
        <env name="SHELL_VERBOSITY" value="-1"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
    </php>
    <testsuites>
        <testsuite name="Functional Testsuite">
            <directory>tests/Functional</directory>
        </testsuite>
        <testsuite name="Integration Testsuite">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Unit Testsuite">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
